Repository AlejandroIbarraC/stonks-laboratorio-git, changes with the owners that CODEOWNERS names for each.
All owners: @AlejandroIbarraC, @Skryfall, @juan230500, @shuzz22260427

Delete jajajaje.xd
  api-gateway/jajajaje.xd
Owners: @juan230500, @shuzz22260427

Delete texto.txt
  api-gateway/texto.txt
Owners: @juan230500, @shuzz22260427

JIRA-Test
  .vscode/settings.json
Owners: @AlejandroIbarraC

[ADD] conflicto
  conflicto.txt
Owners: @AlejandroIbarraC

JIRA-commit2
  webpage.html
Owners: @AlejandroIbarraC

agregado conflicto
  conflicto.txt
Owners: @AlejandroIbarraC

JIRA-TestCopyRight
  api-gateway/jajajaje.xd
Owners: @juan230500, @shuzz22260427

JIRA-test push
  testing.swift
Owners: @AlejandroIbarraC

JIRA-agregado API
  java-rest-api/api.sln
Owners: @Skryfall, @AlejandroIbarraC

JIRA-TestCopyRight
  api-gateway/texto.txt
Owners: @juan230500, @shuzz22260427

CODEOWNERS:

# Este es un comentario.
# Cada línea es el patrón de un archivo seguido por uno o más propietarios.

*       @AlejandroIbarraC

# Estos propietarios serán los propietarios predeterminados para todo en # el repositorio. A menos que una coincidencia posterior tenga prioridad, se le solicitará # revisión a # @global-owner1 y @global-owner2 cuando alguien abra una solicitud de extracción.
java-rest-api/ @Skryfall @AlejandroIbarraC
api-gateway/ @juan230500 @shuzz22260427
frontend/ @juan230500 @AlejandroIbarraC
ml-library/ @Skryfall @shuzz22260427
